body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #141414; /* Dark background color */
    color: #fff; /* White text color */
  }

  .navbar {
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    background-color: #000; /* Darker background color for the navbar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar-brand {
    font-size: 2em;
    font-weight: bold;
  }

  .navbar-links {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    margin-right: 200px;
    width: 100%;
  }

  .navbar-link {
    text-decoration: none;
    color: #fff; /* White text color for links */
    font-weight: bold;
    transition: color 0.3s ease;
    margin-top: 40px;
    margin-right: 20px;
  }

  .navbar-link:hover {
    color: #e50914; /* Netflix red color on hover */
  }