.main-content {
    margin-top: 20px; /* Adjust based on your navbar height */
    padding: 20px;
    display: flex;
    overflow-x: scroll;
  }

  .movie-poster {
    width: 100px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    transition: transform 0.3s ease;
  }

  .movie-poster:hover {
    transform: scale(1.1);
  }
/* Hide the scrollbar */
.main-content::-webkit-scrollbar {
    width: 0;
  }