.GridClass
{
  display: grid;
  grid-template-areas: 'SideBarArea navbar  ' 
                       'Itemsouter Itemsouter  ';
  grid-template-columns: 0fr 4fr;
}
.NavBarClass
{
  grid-area: navbar;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(19,25,33);
  color: beige;
  
}
.GridClass.open
{
  display: grid;
  grid-template-areas: 'SideBarArea navbar' 
                       'SideBarArea Itemsouter  ';
  grid-template-columns: 0fr 3fr;
}
.sidebar
{
  width: 50px;
  height: 90px;
  overflow: hidden;
  background-color:  rgb(19,25,33);
  transition: width 0.3s ease-in-out;
}
.sidebar.open {
  grid-area: SideBarArea;
  width: 200px;
  height: 100%;
  background-color: #e4e6eb;
  transition: width 0.3s ease-in-out;
  position: static;
}
.outer{
  grid-area: Itemsouter;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.count-display {
  display: inline-block;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  background-color: rgb(228, 225, 225);
 /* Adjust margin as needed */
}
.modal-with-blur::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
  z-index: -1;
}
.card{
  height: min-content;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* box shadow in all directions */
  width: 250px;
  border-radius: 20px;
  padding: 10px;
}

#images{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.GoogleAuth
{
  margin:10%;
  background-color: #ffff;
  border: solid black 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius:8px;
  width: fit-content
}
body{
  background-color: gray;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -5px; 
}
@media all and (max-width:700px)
{

}